{% extends 'base.html' %}
{% block content %}
<div class="container page-container">
    <div class="row g-2">
        <div class="col-3">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Changelog</h5>
                </div>
                <div class="card-body text-center overflow-auto changelog-card">
                    <p class="h5">Version 0.10</p>
                    <p>Games now have an edit page! You can edit the name and your personal description for each game now. Fiddled with music editing page aswell.</p>
                    <hr>
                    <p class="h5">Version 0.9</p>
                    <p>New shelf; Books! Not very populated at all, will still have to work on that. Games shelf looking good though, getting data from IGDB, has screenshots and all! Still have to populate genres & companies of each game though.</p>
                    <hr>
                    <p class="h5">Version 0.8</p>
                    <p>Music shelves data now grabbing data from database, no need for external api calls now.</p>
                    <hr>
                    <p class="h5">Version 0.7</p>
                    <p>New page: "Games Shelf", currently very ugly. Have to populate data manually. Gonna be a long time till that page is looking how I want it to look.</p>
                    <hr>
                    <p class="h5">Version 0.6</p>
                    <p>Music shelves page now shows two playlists, "Chillin' 'n Rockin'" & "Dark 'n Heavy"</p>
                    <hr>
                    <p class="h5">Version 0.5</p>
                    <p>Music shelves page looking a bit better, still only using 1 playlist, might change that to show others aswell.</p>
                    <hr>
                    <p class="h5">Version 0.4</p>
                    <p>Added Spotify API request for my playlist in music shelves page, still gonna change it later.</p>
                    <hr>
                    <p class="h5">Version 0.3</p>
                    <p>Site is now on github as repository, changed how volumes page looks.</p>
                    <hr>
                    <p class="h5">Version 0.2</p>
                    <p>Added "Volumes" page with the volumes of memes I have created over the years.</p>
                    <hr>
                    <p class="h5">Version 0.1</p>
                    <p>No github, no database models, no user profile, literally just the home screen.</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-header text-center">
                    <h5>News</h5>
                </div>
                <div class="card-body overflow-auto text-center news-card">
                    <div class="row g-0 pb-1">
                        <div class="card text-bg-light">
                            <div class="card-header sub-news-header text-center">
                                <h5>Hiatus?</h5>
                            </div>
                            <div class="card-body home-card text-center">
                                <p class="h5">I haven't worked on this little website in a while.</p>
                                <p></p>
                                <p>But I'm getting back into it now. Just finished up with editing of game's edit page. Should be working great now.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0 py-1">
                        <div class="card text-bg-light">
                            <div class="card-header sub-news-header text-center">
                                <h5>A good website</h5>
                            </div>
                            <div class="card-body home-card text-center">
                                <p class="h5">My little website is getting there. So far it's been a blast working on it</p>
                                <p></p>
                                <p>I'm enjoying doing this. Perhaps at the end of the month I will have a great looking website at the end of it</p>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0 pt-1">
                        <div class="card text-bg-light">
                            <div class="card-header sub-news-header text-center">
                                <h5>A new website</h5>
                            </div>
                            <div class="card-body home-card text-center">
                                <p class="h5">In the last week or so I have decided to make a new website, so far it's looking pretty meh.</p>
                                <p></p>
                                <p>But it still has a long way to go.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>

{% endblock %}
