{% extends 'base.html' %}
{% block content %}
<div class="container page-container">
    <div class="row g-2">
        <div class="col-3">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Changelog</h5>
                </div>
                <div class="card-body text-center overflow-auto changelog-card">
                    <p class="h5">Version 0.3</p>
                    <p>Site is now on github as repository, changed how volumes page looks.</p>
                    <hr>
                    <p class="h5">Version 0.2</p>
                    <p>Added "Volumes" page with the volumes of memes I have created over the years.</p>
                    <hr>
                    <p class="h5">Version 0.1</p>
                    <p>No github, no database models, no user profile, literally just the home screen.</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-header text-center">
                    <h5>A new website</h5>
                </div>
                <div class="card-body text-center">
                    <p class="h5">In the last week or so I have decided to make a new website, so far it's looking pretty meh.</p>
                    <p></p>
                    <p>But it still has a long way to go.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
