[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
django-environ = "*"
spotipy = ">=2.22.1"
pandas = "*"
igdb-api-v4 = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
