@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Oswald:wght@600&family=Rubik:wght@300;400;500;700&family=Ubuntu:wght@400;700&display=swap");
:root {
  scrollbar-width: thin !important;
  scrollbar-color: #e8a12f #a4303f;
}

body {
  background-color: #2f323a;
  font-family: "Rubik", sans-serif;
}

.page-container {
  padding-top: 2%;
}

.card {
  border-width: 0;
  border-radius: 0%;
}
.card .card-header {
  background-image: linear-gradient(to right, #e8a12f, #a4303f);
  color: #ddf8e8;
  border-radius: 0%;
}
.card .sub-news-header {
  background-image: none;
  color: black;
  border-radius: 0%;
}
.card .card-footer {
  color: #ddf8e8;
  background-image: linear-gradient(to right, #e8a12f, #a4303f);
  border-width: 0;
  border-radius: 0%;
}

@keyframes title-bob {
  0% {
    top: 0px;
  }
  25% {
    top: 6px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: -6px;
  }
  100% {
    top: 0px;
  }
}
#base-container {
  width: 1000px;
}
#base-container .title-container {
  text-align: center;
  margin-bottom: 1.5%;
}
#base-container .title-container .base-title {
  position: relative;
  color: #ddf8e8;
  animation-name: "title-bob";
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #ddf8e8;
  display: block;
  transition: 0.25s;
  position: absolute;
  background-image: linear-gradient(to right, #e8a12f, #a4303f, #e8a12f);
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #adadaf;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.25s;
  position: relative;
  background: #323237;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

.navbar .navbar-brand {
  border-style: none;
}

.offcanvas {
  --bs-offcanvas-width: 250px;
  --bs-offcanvas-padding-x: 0;
  background-image: linear-gradient(to bottom, #e8a12f, #a4303f);
}
.offcanvas #offcanvasCloseBtn {
  border-radius: 0%;
}
.offcanvas .offcanvas-title {
  font-weight: 700;
}

.sidebar-navbar .nav-link {
  width: 100%;
}

footer {
  color: #ddf8e8;
}

.col-3 {
  border-radius: 0;
}

.changelog-card {
  height: 460px;
}

.news-card {
  background-image: linear-gradient(to left, #e8a12f, #a4303f);
  height: 460px;
  padding: 0%;
}
.news-card .home-card {
  padding-left: 10%;
  padding-right: 10%;
}

.volume-header {
  padding-bottom: 2%;
}
.volume-header .btn {
  width: 100%;
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.volumes-row {
  margin-bottom: -40%;
}
.volumes-row img {
  width: 100%;
}
.volumes-row .card {
  overflow: hidden;
  height: 40%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.699);
}

.volumes-folder {
  padding-top: 2%;
  z-index: 999;
  background-image: linear-gradient(to right, #e8a12f, #a4303f, #e8a12f);
  color: #ddf8e8;
  padding-bottom: 2%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.699);
}

.img-container img {
  width: 100%;
}

.img-base {
  background-image: linear-gradient(to right, #e8a12f, #a4303f);
  padding-top: 2%;
}

.music-card {
  background-image: linear-gradient(to right, #e8a12f, #a4303f);
  height: 100%;
}
.music-card img {
  width: 100%;
}
.music-card audio {
  background-image: linear-gradient(to right, #e8a12f, #a4303f);
  margin-top: auto;
}

.playlist-card {
  background-image: linear-gradient(to right, #e8a12f, #a4303f);
}
.playlist-card img {
  height: 400px;
  width: 100%;
}

.playlist-back-btn {
  width: 100%;
  color: #ddf8e8;
}

.playlist-link-btn {
  width: 100%;
  color: #ddf8e8;
}

.update-playlist-btn {
  width: 100%;
  border-radius: 0;
}

.game-card {
  height: 100%;
  background-image: linear-gradient(to right, #e8a12f, #a4303f);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.699);
}
.game-card .card-footer {
  margin-top: auto;
}
.game-card:hover {
  z-index: 4000;
}

.game-display-card img {
  height: 540px;
}

.game-id {
  border-radius: 0;
}

.game-text {
  height: 100px;
  border-radius: 0;
}

.add-game-btn {
  width: 100%;
  border-radius: 0;
}

.delete-game-btn {
  width: 100%;
  border-radius: 0;
}

.game-delete-text {
  color: #ddf8e8;
}

.game-delete-img {
  width: 300px;
}

.games-shelves-tabs .nav-link {
  border-radius: 0% !important;
  font-size: 25px;
  color: #ddf8e8;
}
.games-shelves-tabs .active {
  background-color: rgba(255, 255, 255, 0) !important;
  background-image: linear-gradient(to right, #e8a12f, #a4303f);
}
.games-shelves-tabs :hover {
  background-color: #ddf8e8;
  color: #2f323a;
}

.games-shelf-div {
  width: 952px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  background-image: linear-gradient(to right, #e8a12f, #a4303f, #e8a12f);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.699);
  z-index: 9999;
}

.games-shelf-link {
  width: 99%;
  border-radius: 0;
  border: 2px solid #ddf8e8;
  border-right: none;
  border-left: none;
  color: #ddf8e8;
}

/*# sourceMappingURL=main.css.map */
