{% extends 'base.html' %}

{% block content %}
<div class="container page-container">
    {% if memes %}
    <div class="row volumes-row">
        {% for volume in memes %}
        <div class="col-3">
            <div class="card hvr-float">
                <div class="card-header text-center">
                    {{ volume }}
                </div>
                <a href="{% url 'volumes:volume' volume.pk %}"><img src="{{ volume.image_url.url }}" class="hvr-bob"/></a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row g-0">
        <div class="col-12 volumes-folder text-center">
            <h3 class="display-3">Meme Volumes</h3>
        </div>
    </div>
    {% else %}
    <div class="row volumes-row">
        <div class="col-12 text-center">
            <h3 class="display-3 text-light">There are no memes!</h3>
            <h5 class="text-light">Maybe come back when you have memes.</h5>
        </div>
    </div>  
    {% endif %}
</div>
{% endblock %}