{% extends 'base.html' %}

{% block content %}
<div class="container page-container">
    <div class="row mb-4">
        <div class="col-12 text-center playlist-header">
            <a href="{% url 'music-shelves' %}" class="text-decoration-none display-3 hvr-grow">Back to shelves</a>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 text-center playlist-header">
            <a href="{{ playlist_url }}" target='_blank' class="text-decoration-none display-6 hvr-grow">Link to this playlist</a>
        </div>
    </div>
    <div class="row g-2 p-0">
    {% for track in my_playlist %}
        <div class="col-4 mb-4">
            <div class="card music-card">
                <div class="card-header text-center">
                    <h6>{{ track.name }}</h6>
                        <p>
                            {% for artist in track.artists.all %}
                            {{ artist.name }},
                            {% endfor %}
                        </p>
                </div>
                <a href="{{ track.spotify_url }}" target="_blank" class="hvr-float"><img src='{{ track.album.image_url }}'></a>
                
                <audio controls>
                    <source src="{{ track.preview_url }}" type="audio/mpeg">
                </audio> 
            </div>
        </div>
    {% endfor %}
    </div>
    
</div>
{% endblock content %}