{% extends 'base.html' %}

{% block content %}
<div class="container page-container">
    <div class="row g-2 p-0">
        {% for playlist in playlists %}
        <div class="col-6">
            <div class="card playlist-card">
                <div class="card-header text-center">
                    {{ playlist.name }}
                </div>
                <a href="{% url 'playlist' playlist.id %}"><img src="{{ playlist.image }}"></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}