{% extends 'base.html' %}

{% block content %}
<div class="container page-container">
    <div class="row p-2 text-center">
        {% for playlist in playlists %}
        <div class="col-6">
            <a href="{% url 'music:playlist' playlist.id %}" class="text-decoration-none hvr-float">
                <div class="card playlist-card mb-5">
                    <div class="card-header text-center">
                        <p class="display-5">{{ playlist.name }}</p>
                    </div>
                    <img src="{{ playlist.image_url }}" class="overflow-auto"/>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}