{% extends 'base.html' %}

{% block content %}

<div class="container page-container">
    <div class="row g-2 p-0">
        <div class="col-12 mb-4 text-center">
            <form action="{% url 'game-add' %}" method="post" class="games-add-form">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{ form.game_id }}
                    <label for="{{ form.game_id.id_for_label }}" class="form-label">IGDB Game ID</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form.my_description }}
                    <label for="{{ form.my_description.id_for_label }}" class="form-label">Your thoughts on this game</label>
                </div>
                <div class="col-12">
                    <input class="btn btn-outline-light btn-lg add-game-btn" type="submit" value="Add Game">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}