{% extends 'base.html' %}

{% block content %}
<div class="container page-containter">
    <div class="row g-2 p-0 text-center">
        <div class="col-12 my-4">
            <div class="nav nav-pills nav-fill mb-3 justify-content-center nav-justified games-shelves-tabs" id="pills-tab" role="tablist">
                    <button class="nav-link active text-light" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all"
                        type="button" role="tab" aria-controls="pills-all" aria-selected="true">
                        ALL GAMES
                    </button>
                    <button class="nav-link text-light" id="pills-favourite-tab" data-bs-toggle="pill" data-bs-target="#pills-favourite"
                        type="button" role="tab" aria-controls="pills-favourite" aria-selected="false">
                        FAVOURITES
                    </button> 
                    <button class="nav-link position-relative text-light" id="pills-abs-favourite-tab" data-bs-toggle="pill" data-bs-target="#pills-abs-favourite"
                        type="button" role="tab" aria-controls="pills-abs-favourite" aria-selected="false">
                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger">
                        <i class="fa-solid fa-heart"></i></span>
                        ABSOLUTE FAVOURITES
                    </button>
                    <button class="nav-link text-light" id="pills-want-tab" data-bs-toggle="pill" data-bs-target="#pills-want"
                        type="button" role="tab" aria-controls="pills-want" aria-selected="false">
                        WANT TO PLAY
                    </button>
            </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab"
                tabindex="0">
                <div class="row g-2 text-center">
                {% for game in all_games %}
                    <div class="col-2 hvr-float">
                        <a class="card game-card text-decoration-none" href="{% url 'games:game' game.pk %}">
                            <img src="{{ game.cover_url }}">
                            <div class="card-footer text-center position-relative">
                                {% if game.favourite %}
                                Favourite
                                {% elif game.abs_favourite %}
                                <span
                                    class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger">
                                    <i class="fa-solid fa-heart"></i>
                                </span>
                                Favourite
                                {% elif game.want %}
                                Want to play
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:6 %}
                    <div class="games-shelf-div mb-4"></div>
                    {% endif %}
                {% endfor %}
                <div class="games-shelf-div mb-4"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-favourite" role="tabpanel" aria-labelledby="pills-favourite-tab"
                tabindex="0">
                <div class="row g-2 text-center">
                {% for game in favourites %}
                    <div class="col-2 hvr-float">
                        <a class="card game-card text-decoration-none" href="{% url 'games:game' game.pk %}">
                            <!-- <div class="card-header text-center">
                                {{ game.name }}
                            </div> -->
                            <img src="{{ game.cover_url }}">
                            <div class="card-footer text-center">
                                {% if game.release_date %}
                                {{ game.release_date }}
                                {% else %}
                                TBA
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:6 %}
                    <div class="games-shelf-div mb-4"></div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="pills-abs-favourite" role="tabpanel" aria-labelledby="pills-abs-favourite-tab"
                tabindex="0">
                <div class="row g-2 p-0 text-center">
                {% for game in abs_favourites %}
                    <div class="col-2 hvr-float">
                        <a class="card game-card text-decoration-none" href="{% url 'games:game' game.pk %}">
                            <!-- <div class="card-header text-center">
                                {{ game.name }}
                            </div> -->
                            <img src="{{ game.cover_url }}">
                            <div class="card-footer text-center">
                                {% if game.release_date %}
                                {{ game.release_date }}
                                {% else %}
                                TBA
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:6 %}
                    <div class="games-shelf-div mb-4"></div>
                    {% endif %}
                {% endfor %}
                <div class="games-shelf-div mb-4"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-want" role="tabpanel" aria-labelledby="pills-want-tab"
                tabindex="0">
                <div class="row g-2 p-0 text-center">
                {% for game in want %}
                    <div class="col-2 hvr-float">
                        <a class="card game-card text-decoration-none" href="{% url 'games:game' game.pk %}">
                            <!-- <div class="card-header text-center">
                                {{ game.name }}
                            </div> -->
                            <img src="{{ game.cover_url }}">
                            <div class="card-footer text-center">
                                {% if game.release_date %}
                                {{ game.release_date }}
                                {% else %}
                                TBA
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:6 %}
                    <div class="games-shelf-div mb-4"></div>
                    {% endif %}
                {% endfor %}
                <div class="games-shelf-div mb-4"></div>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_superuser %}
    <div class="row g-2 p-0 mt-4">
        <div class="col-12 text-center">
            <a href="{% url 'games:add' %}" class="btn btn-outline-light btn-lg add-game-btn">Add Game</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}