$offcanvas-horizontal-width: 250px;
$prefix: bs-;
$color-darkgrey: "#2f323a";
$color-red: "#a4303f";
$color-yolkyellow: "#e8a12f";
$color-lightwhite: "#ddf8e8";
$color-lightwhite-o: rgba(255, 255, 255, 0.5);
$color-lightsilver: "#87919e";
$ovum-primary-gradient: linear-gradient(to right, #{$color-yolkyellow}, #{$color-red});
$ovum-secondary-gradient: linear-gradient(to left, #{$color-yolkyellow}, #{$color-red});
$ovum-tertiary-gradient: linear-gradient(to right, #{$color-yolkyellow}, #{$color-red}, #{$color-yolkyellow});
$ovum-auxillary-gradient: linear-gradient(to bottom, #{$color-yolkyellow}, #{$color-red});

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Oswald:wght@600&family=Rubik:wght@300;400;500;700&family=Ubuntu:wght@400;700&display=swap');

// ------- base ------- //

:root {
    scrollbar-width: thin !important;
    scrollbar-color: #{$color-yolkyellow} #{$color-red};
}

body {
    background-color: #{$color-darkgrey};
    font-family: 'Rubik', sans-serif;
}

.page-container {
    padding-top: 2%;
}

.card {
    border-width: 0;
    border-radius: 0%;
    .card-header {
        background-image: $ovum-primary-gradient;
        color: #{$color-lightwhite};
        border-radius: 0%;
    }
    .sub-news-header {
        background-image:none;
        color: black;
        border-radius: 0%;
    }
    .card-footer {
        color: #{$color-lightwhite};
        background-image: $ovum-primary-gradient;
        border-width: 0;
        border-radius: 0%;
    }
}

// ------- title ------- //

@keyframes title-bob {
    0% {
        top: 0px;
    }

    25% {
        top: 6px;
    }

    50% {
        top: 0px;
    }

    75% {
        top: -6px;
    }

    100% {
        top: 0px;
    }
}

#base-container {
    width: 1000px;

    .title-container {
        text-align: center;
        margin-bottom: 1.5%;

        .base-title {
            position: relative;
            color: #{$color-lightwhite};
            animation-name: 'title-bob';
            animation-duration: 6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}

// ------- navbar ------- //

$speed: 0.25s;

.btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {

        &:after {
            opacity: 1;
            transform: translateY(0) rotateX(0);
        }

        &:before {
            opacity: 0;
            transform: translateY(50%) rotateX(90deg);
        }
    }

    &:after {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: #{$color-lightwhite};
        display: block;
        transition: $speed;
        position: absolute;
        background-image: $ovum-tertiary-gradient;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
}

&:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: $speed;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
}
}

.navbar {
    .navbar-brand {
        border-style: none;
    }

}

.offcanvas {
    --#{$prefix}offcanvas-width: #{$offcanvas-horizontal-width};
    --#{$prefix}offcanvas-padding-x: 10%;
    background-image: $ovum-auxillary-gradient;

    #offcanvasCloseBtn {
        border-radius: 0%;
    }

    .offcanvas-title {
        font-weight: 700;
    }
}

// ------- footer ------- //

footer {
    color: #{$color-lightwhite};
} 

// ------- home ------- //

.col-3 {
    border-radius: 0;
}

.changelog-card {
    height: 460px;
}

.news-card {
    background-image: $ovum-secondary-gradient;
    height: 460px;
    padding: 0%;
    .home-card {
        padding-left: 10%;
        padding-right: 10%;
    }
}

// ------- volumes ------- //

.volume-header {
    padding-bottom: 2%;
}

.volumes-row {
    margin-bottom: -40%;
    img {
        width: 100%;
    }
    .card {
        overflow: hidden;
        height: 40%;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.699);
    }
    
}

.volumes-folder {
    padding-top: 2%;
    z-index: 999;
    background-image: $ovum-tertiary-gradient;
    color: #{$color-lightwhite};
    padding-bottom: 2%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.699);
}

.img-container {
    img {
        width: 100%;
    }
}

.img-base {
    background-image: $ovum-primary-gradient;
    padding-top: 2%;
}

// ------- books ------- //

.book-card {
    height: 100%;
    img {
        width: 100%;
    }
    p {
        color: #{$color-lightwhite};
    }
    background-image: $ovum-primary-gradient;
}

// ------- music ------- //

.music-card {
    background-image: $ovum-primary-gradient;
    img {
        width: 100%;
    }
    height: 100%;
    audio {
        background-image: $ovum-primary-gradient;
        margin-top:auto;
    }
}

.playlist-card {
    background-image: $ovum-primary-gradient;
    img {
        width: 100%;
    }
}

// ------- games -------- //

.game-card {
    height: 100%;
    .card-footer {
        margin-top: auto;
    }
    background-image: $ovum-primary-gradient;
    &:hover {
        z-index: 4000;
    }
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.699);
}

.game-display-card {
    img {
        height: 540px;
    }
}

.game-id {
    border-radius: 0;
}

.game-text {
    height: 100px;
    border-radius: 0;
}

.add-game-btn {
    width: 100%;
    border-radius: 0;
}

.delete-game-btn {
    width: 100%;
    border-radius: 0;
}

.game-delete-text {
    color: #{$color-lightwhite}
}

.game-delete-img {
    width: 300px;
}

.games-shelves-tabs {
    .nav-link {
        border-radius: 0% !important;
        font-size: 25px;
    };
    .active {
        background-color: rgba(255, 255, 255, 0) !important;
        background-image: $ovum-primary-gradient;
    }
    :hover {
        background-image: $ovum-primary-gradient;
    }
}

.games-shelf-div {
    width: 952px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-image: $ovum-tertiary-gradient;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.699);
    z-index: 9999;
}